<div class="container">
    <mat-sidenav-container>

        <!-- Navigacioni meni(sa leve strane) / sidenav -->
        <mat-sidenav #sidenav opened="true">
            <mat-nav-list>
                <!-- na klik - meni se zatvara :  -->
                <a mat-list-item routerLink="/signup" (click)="sidenav.close()">
                    <mat-icon>account_circle</mat-icon>
                    Signup
                </a>
                <a mat-list-item routerLink="/login" (click)="sidenav.close()">
                    <mat-icon>login</mat-icon>
                    Login
                </a>
                <a mat-list-item routerLink="/finished-orders" (click)="sidenav.close()">
                    <mat-icon>history</mat-icon>Prethodna putovanja
                </a>
                <a mat-list-item routerLink="/product" (click)="sidenav.close()">
                    <mat-icon>book online</mat-icon>Rezervisi
                </a>
                <a mat-list-item routerLink="/cart" (click)="sidenav.close()">
                    <mat-icon>sell</mat-icon>Korpa
                </a>
                <a mat-list-item routerLink="/" (click)="sidenav.close()">
                    <mat-icon>logout</mat-icon>
                    Logout
                </a>
            </mat-nav-list>
        </mat-sidenav>


        <!-- Ruter likovi u sidenav-content-u / linija menija -->
        <mat-sidenav-content>

            <mat-toolbar color="primary">
                <!-- hamburger meni :  -->
                <div fxHide.gt-xs>
                    <button (click)="sidenav.toggle()">
                        <mat-icon>menu</mat-icon>
                    </button>
                </div>
                
                <!-- Material ikonica home (kucica) :   -->
                <div>
                    <a routerLink="/">
                        <mat-icon class="icon-scale">home</mat-icon>
                    </a>
                </div>

                <div fxFlex fxLayoutAlign="end" fxLayoutGap="10px" fxHide.xs class="main-menu">
                    <a routerLink="/signup">Signup</a>
                    <a routerLink="/login">Login</a>
                    <a routerLink="/finished-orders">Previous trips</a>
                    <a routerLink="/product">Reserve</a>
                    <a routerLink="/cart" class="button fancy-button"><span class="material-icons">shopping_cart</span> Your cart</a>
                    <button mat-raised-button color="accent" (click)="openProfile(this.userService.currentUser.id)">
                        {{ this.userService.currentUser.email }}
                    </button>
                </div>
            </mat-toolbar>

            <!--  router-outlet tag koji se koristi za rutiranje (ovde ce se prikazivati sadrzaj iz komponenti (ruta) koje smo definisali) -->
            <router-outlet></router-outlet>
        </mat-sidenav-content>

    </mat-sidenav-container>
</div>

