<mat-radio-group aria-label="Select an option" fxLayout="row" fxLayoutAlign="center center">
    <mat-radio-button value="1" (click)="showAll();">All</mat-radio-button>
    <mat-radio-button value="2" (click)="showLess();">Currently unvailable</mat-radio-button>
    <mat-radio-button value="3" (click)="showMore();">Currently available</mat-radio-button>
</mat-radio-group>

<mat-form-field appearance="fill" fxLayoutAlign="center center">
    <mat-select placeholder="Choose category" [(value)]="selected" (selectionChange)="selectCategory()">
        <mat-option>None</mat-option>
        <mat-option value="low-cost">Low-cost</mat-option>
        <mat-option value="average-price">Average price</mat-option>
        <mat-option value="last-minute">Last-Minute</mat-option>
        <mat-option value="max-price">Max-price</mat-option>
        <mat-option value="retirees">Only for retirees</mat-option>
    </mat-select>
</mat-form-field>

<div id="container">
    <mat-card class="example-card" *ngFor="let product of pageSlice">
        <mat-card-title>
            {{ product.name }}
        </mat-card-title>
        <img class="img-centered" mat-card-image [src]="product.image" style="height: 200px; width: 250px;">
        <mat-card-content>
            <p>
                {{ product.description }}
            </p>

            <p style="font-weight: bold;">
                Price per person: {{ product.price }} RSD
            </p>

            <p style="font-weight: bold;">
                Available rooms: {{ product.quantity }}
            </p>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button (click)="addToCart(product)" class="btn btn-primary" color="primary">Add to cart</button>
            <button mat-raised-button [routerLink]="['/products', product.id]" class="btn btn-primary">More details</button>
        </mat-card-actions>
    </mat-card>
</div>

<mat-paginator [length]="this.products.length" [pageSize]="9" [pageSizeOptions]="[3, 6, 9, 15, 30]" (page)="onPageChange($event)">
</mat-paginator>