<div fxLayout="column" fxLayoutAlign="center center" id="welcome" fxLayoutGap="50px">

    <h1 class="recomm">	&#x2199;Amazing upcoming trips&#x2198;</h1>
    
    <div id="container" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="40px">
        <div class="cont" *ngFor="let product of pageProd">
            <!--lista-->

            <mat-card class="example-card" >
                <mat-card-title>
                    {{ product.name }}
                </mat-card-title>
                <img class="img-centered" mat-card-image [src]="product.image" style="max-height: 200px; max-width: 300px;" alt="travels">
                <mat-card-content>
                    <p>
                        <span style="font-weight: bold;">Description:</span> {{ product.description }}
                    </p>
                    <p style="font-weight: bold;">
                        Price per person: {{ product.price }} RSD
                    </p>
                </mat-card-content>

                <mat-card-actions>
                    <button mat-raised-button color="primary" [routerLink]="['/products', product.id]">More details</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

    <mat-card>
        <mat-card-title fxLayoutAlign="center"> Why should you travel? </mat-card-title>
        <mat-card-content fxLayoutAlign="center center" id="cardText">
            Travel exposes us to different cultures and ancient traditions and through these authentic encounters, we learn to embrace and celebrate both our similarities and our differences. 
            Travel teaches us about humanity and gives us an appreciation, understanding and respect for different points of view and ways of life.
        </mat-card-content>
    </mat-card>

    <br>
</div>